*{
	font-family: -apple-system, BlinkMacSystemFont, 微軟正黑體, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}



.title{
	display    :inline;
	background : url(../img/titleBg.png) no-repeat right;
	color      : #2f96ee;
	font-weight: 550;
}