td.details-control {
    background: url('https://raw.githubusercontent.com/DataTables/DataTables/1.10.7/examples/resources/details_open.png') no-repeat center center;
    cursor: pointer;
}

tr.shown td.details-control {
    background: url('https://raw.githubusercontent.com/DataTables/DataTables/1.10.7/examples/resources/details_close.png') no-repeat center center;
}

td.details-control:hover {
    background-color: grey;
}

.dataTables_length{
	/* 讓顯示一頁多少筆的選項 與 Search 齊平*/
	float: left;
}

